INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
src/.deps/
src/*.o
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/config.h.in~
src/maf2xmfa
src/mfaToMultiFiles
src/scoreAlignment2
src/sgEvolver
src/stamp-h1
